/*general*/

body {
    direction: rtl;
    font-family: IRANYekan !important;
    margin: 0;
    text-align: right;
    background: #01295C;
}

@font-face {
    font-family: 'IRANYekan';
    src: url(../fonts/IRANYekan.woff) format('woff')
}

a {
    color: #484848;
}
